template(name="frontpage")

  .container
    .row
      .col-md-12
        h1 Invoice Creator

        ul
          each invoices
            li
              a(href="{{pathFor 'invoice' _id}}") {{name}}




